// base-layout
.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.flec {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.flece {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

.flecs {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.flecb {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.flmc {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}