# Nomal Config
.DS_Store
node_modules
/dist

# Local env files
.env.local
.env.*.local
tsconfig.json

# Log files
npm-debug.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.zip
*.7z

#Electron-builder output
/dist_electron